.quill .ql-container {
  background: #fefcfc;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3em;
}

.quill .ql-editor {
  font-size: 1rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3em;
}

/* Snow Theme */
.ql-container.ql-snow {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.ql-snow .ql-editor {
  min-height: 20em;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  background: #f8f9fa;
}
